<!DOCTYPE html>
<html
  lang="en"
  class={[
    assigns[:dark_mode] && "dark",
    "[scrollbar-gutter:stable]"
  ]}
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Cimbirodalom" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/admin.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/admin.js"}>
    </script>
  </head>
  <body class={[
    "bg-slate-50 dark:bg-slate-900 text-slate-600 dark:text-white"
  ]}>
    <div
      tabindex="-1"
      class={
        [
          "absolute left-0 top-0 h-screen",
          "overflow-y-auto transition-transform -translate-x-full ease-linear duration-300",
          "w-72 z-40",
          "bg-slate-800 text-blue-300",
          "flex flex-col"
        ]
      }
      id="drawer-navigation"
      aria-modal="true"
      role="dialog"
    >
      <!-- SIDEBAR HEADER -->
      <div class="flex items-center justify-between">
        <.link navigate={~p"/admin"} class="text-2xl ml-[10%] mt-5 text-white">
          Cimbora Admin
        </.link>        
      </div>
      <!-- SIDEBAR HEADER -->
      <div class="no-scrollbar flex flex-col overflow-y-auto duration-300 ease-linear">
        <nav class="mt-5 py-4 px-4 lg:mt-9 lg:px-6">
          <ul class="flex flex-col gap-1.5">            
            <li>
              <.link
                navigate={~p"/admin/articles"}
                class="flex items-center gap-4 p-4 hover:bg-slate-700"
                data-drawer-hide="drawer-navigation"
              >
                <.icon name="hero-newspaper" class="w-6 h-6" />
                Articles
              </.link>
            </li>
            <li>
              <.link
                navigate={~p"/admin/authors"}
                class="flex items-center gap-4 p-4 hover:bg-slate-700"
                data-drawer-hide="drawer-navigation"
              >
                <.icon name="hero-user" class="w-6 h-6" />
                Authors
              </.link>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <%= @inner_content %>
  </body>
</html>
