<div class="container max-w-[760px] mt-8 mx-auto bg-white rounded-lg shadow-lg min-h-screen prose">

    <.live_component
        module={CimbirodalomWeb.Admin.ArticleLive.TitleComponent}
        id={:new}
        title={@title}
        subtitle={@subtitle}        
    />
</div>